/* markdown 表格占满一行 */

table {
  display: table !important;
}

/* 列表展示图片，使图片展示完整 */

.post-cover a {
  background-size: contain;
  background-color: #fff;
}

.markdown-body code {
  color: #305cb5;
  font-size: 14px;
  padding: 2px 6px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

.tag-list {
  padding-left: 0;
}

.tag-list li {
  width: auto;
  margin: 0 20px 20px 0;
}

.tag-item {
  display: inline-block;
  color: #409eff;
  background-color: #ebf5ff;
  border-color: #87e8de;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid #d8ebff;
  font-size: 12px;
}

.tag-item:hover {
  background-color: #409eff;
  color: #fff;
}